body {
    font-family: 'Montserrat', sans-serif;
}

.preview {
    height: 789px;
    background-image: url("image 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 78px;
    align-items: center;
}

.items {
    display: flex;
    gap: 72px;
    margin-right: 50px;
}

.item {
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
}

.title {
    color: #373737;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-top: 49px;
    text-align: center;
}

.info {
    color: #373737;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    margin: 38px 67px 0 67px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 82px;
    margin: 66px 0 29px;
}

.start {
    padding: 18px 43px;
    border: none;
    border-radius: 4px;
    background-color: #FF0000;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
    cursor: pointer;
}

.copyright {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    align-self: self-end;
    margin-right: 105px;
}